<!doctype html>
<html>
   <head>
      <title>Blog Content</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
      <style>
      .panel-body {
          font-family: 'Slabo 27px', serif;
          font-size: 20px;
      }
      </style>
   </head>
   <body>
      <nav id="header" class="navbar navbar-inverse">
         <div id="header-container" class="container navbar-container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a id="brand" class="navbar-brand" href="#">Daniels Daily</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li><a href="/profile">Account</a></li>
                  <li class="active"><a href="/blog">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
               </ul>
            </div>
            <!-- /.nav-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <!-- /.navbar -->
      <div class="container">
         <div class="row">
            <div class="panel">
               <div class="panel-heading">
                  <div class="text-center">
                     <div class="row">
                        <div class="col-sm-9">
                           <h1 class="pull-left">Establishing a Credit Score</h1>
                        </div>
                        <div class="col-sm-3">
                           <h4 class="pull-right">
                              <small><em>2016-12-15 12:30:00</em></small>
                           </h4>
                        </div>
                     </div>
                  </div>
               </div>
            
               <div class="panel-body">
                  <span style = "margin-left: 2em"></span>For some time, I worked for a bank in Athens, Georgia.  Many of you would know Athens as the home of The University of Georgia, one of the nation’s oldest public universities (although UNC would love to differ).  It shouldn't come as a surprise that many of my clients were college students between the ages of 18-24.  During this time, I noticed that nearly all college students did not understand the credit process as a whole.  When I asked my clients why they felt they lacked this information, one answer seemed clear.   Credit was not covered in any of their curriculum.<br><br>
                  In order to understand the credit establishment process, we must first understand what makes up a credit score.  Your overall credit score is made up of five elements (Citation FICO).<br><br>
                  <ul>
                     <li>Payment History (35% of the total score)</li>
                     <li>Credit Utilization (30% of the total score)</li>
                     <li>Length of Credit History (15% of the total score)</li>
                     <li>Types of Credit (10% of the total score)</li>
                     <li>New Credit/Inquiries (10% of the total score)</li>
                  </ul>
                  These five elements blend together to create your FICO score, or the score used by most lenders to make a credit extension decision.  With this information, one can see how they can begin to establish a good credit score.<br><br>
                  <h3>The Options</h3>
                  <br>
                  <br>
                  There are three main options someone has in order to establish a credit score.  Typically, it will take six months for a score to generate if you have never had any type of credit extended.
                  <br>
                  <br>
                  <ol>
                     <li>
                        Secured Credit Cards- Personally, this is one of my favorite options; however, it can overextend your bank account if you can’t afford it.  A secured card is essentially a credit card that uses a savings account as collateral.  As a user of a secured card, you’ll be able to make purchases as if you were using a normal, unsecured card, but remember, you have a collateral account you need to budget for since you will not have access to the collateral while the card is open.
                     </li>
                     <br>
                     <li>Finding a Cosigner – Cosigning with someone with established credit on a loan or a revolving credit account (like a credit card or a line of credit), is another great way to generate a credit score of your own.  By finding a cosigner, you are finding someone who is guaranteeing with you that the loan will be paid back.  You will need to make sure that you are both listed as a borrower.  Adding you as an authorized user to an existing credit account will not build your credit as you are not held liable for the debt. If you both have a credit active for six months, then you will generate a credit score.  Be wary, however, several credit card companies may not offer their better card options if you haven’t shown any credit activity on a revolving account.     </li>
                     <br>
                     <li>
                        Credit Builder Loans – A credit builder loan is a type of loan used by smaller financial institutions such as credit unions and community banks.  These loans are usually for credit rehabilitation if your credit score has suffered in the past, but they are used to build credit, too.  Typically, if you are trying to build credit with a credit builder loan you will need to offer collateral such as money in a savings account equaling the amount of the loan.  This is a lesser used strategy as it normally comes with higher interest and it isn’t widely offered.
                     </li>
                     <br>
                  </ol>
                  In the end, whichever option you decide is best for you will build credit. Just remember to keep the five elements of a credit score in mind.  Understand that it takes time, but establishing your credit correctly in the beginning can save you from trying to fix mistakes later on.  Good luck!
                  <br>
                  <br>
                  Please comment or email us with any questions or personal situations where you may need answers. 
                  <br>
                  <br>
                  Regards,
                  <br>
                  <br>
                  RAD
                  </a>
               </div>
               <div class="panel-footer">
                  <span class="label label-default">Updates</span> <span class="label label-default">December</span>
               </div>
            </div>
         </div>
         <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Posts...</a></div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
      </div>
      <div class="col-md-1">
      </div>
      </div>
      </div>
</html>